* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
#contactForm{
    margin-top: 60px;
}

section {
    padding-top: 10px;
}

.menu a {
    text-decoration: none;
    font-weight: 600;
    color: #0f7c8c;
    font-family: "Exo 2", sans-serif;
}

#Pkg{
    padding-top: 20px;
}

#contIcon {
    padding: 30px;
}

#contIcon i {
    color: #0496c7;
    font-size: 20px;
    padding: 10px;
}

li {
    font-size: 20px;
}

li {
    text-decoration: none;
}

#img {
    width: 100px;
    background: transparent;
    border: none;
}

ul {
    gap: 10px;
    list-style: none;
}

ul {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-bottom: 28px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
    box-shadow: 0 -2px 5px -2px rgba(0, 0, 0, 0.5);
    margin-bottom: -1px;
}

.None {
    display: none;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

ul li a {
    font-size: 12px;
}

.menu img {
    width: 28px;
}

.menu span {
    color: #0496c7;
    font-size: 28px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#Tick {
    position: absolute;
    bottom: 40%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    width: 70px;
    height: 60px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

#Tick img {
    width: 45px;
}

.btn {
    background-color: #0496c7;
    border: none;
    border-radius: 12px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 12px;
}

header {
    background-color: white;
    border-bottom-right-radius: 20px;
    height: 60px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 12px 18px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.image-container {
    position: relative;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 1; /* Ensure this layer is behind the text */
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.animated {
    position: absolute;
    top: 46%;
    left: 20%;
    animation: textAnimation 1s ease forwards;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    color: white;
    font-family: "Permanent Marker", cursive;
    font-weight: 900;
    font-style: normal;
    z-index: 1; /* Ensure text is above the pseudo-element */
}


@keyframes textAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 18px;
}

.container h2 {
    font-weight: 900;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-size: 20px;
    padding: 15px 0px 15px 0px;
    color: #0496c7;
}

.container p {
    color: rgb(160, 160, 160);
    text-align: justify;
}

#carousel-container {
    gap: 20px;

}

.card {
    background: transparent;
    scroll-snap-align: start;
    width: 20rem;
    margin-right: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    padding: 10px;
}


.card img {
    width: 100%;
    height: fit-content;
    border-radius: 13px;
}

.card-body .btn {
    background-color: #0f7c8c;
    border: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 15.5px;
    padding: 7px 0px;
    text-align: center;
    color: #0f7c8c;
    font-family: "Permanent Marker", cursive;
    font-weight: 800;
    font-style: normal;
}

.card-text {
    text-align: center;
}

.waterPark {
    font-size: 18px;
    padding: 17px 0px;
    text-align: center;
    color: #0f7c8c;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-weight: 800;
}

#BookWater {
    position: relative;
    bottom: 50px;
    left: 49.995%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: white;
    padding: 5px 0px 5px 0px;
    margin-left: 0;
    width: 100%;
    text-align: center;
    color: #0f7c8c;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
}


.Water_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(150, 150, 150);
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
    height: auto;
}

.detaisl {
    width: 100%;
}

.detaisl h2 {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

#explore {
    background-color: transparent;
    border: 1px solid #0f7c8c;
    color: #0f7c8c;
    margin-left: 10px;
}

.detaisl button {
    align-items: center;
}

#hours {
    width: 100%;
    border: 0.2px solid #93e2ee;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05),
        0 0 10px rgba(0, 0, 0, 0.05),
        0 0 10px rgba(0, 0, 0, 0.05),
        0 0 10px rgba(0, 0, 0, 0.05);
}

#Inner {
    border-bottom: 0.5px solid rgb(219, 218, 218);
    padding: 20px;
}

#Inner img {
    width: 40px;
}

#Inner2 img {
    width: 40px;
}

#Inner2 {
    padding: 10px;
}
h2{
    text-align: center;
}

#Inner,
#Inner2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hours span {
    color: rgb(90, 90, 90);
    font-size: 13px;
    text-align: justify;
    justify-content: center;
}

#Inner h3,
#Inner2 h3 {
    font-size: 15px;
    color: #0f7c8c;
    font-weight: 600;

}


#hours2 p {
    display: block;
    text-align: center;
    font-weight: 200;
    padding-top: 20px;
    color: #7a7a7a;
    font-size: 15px;

}

.menu {
    background: none;
    border: none;
    padding-top: 20px;
}

#Buttons {
    margin-bottom: 20px;
}


/* Mediaquery starts here */


@media (min-width: 774px) {

    .animated {
        position: absolute;
        top: 43%;
        left: 22%;
        font-size: 45px;
    }

    .None {
        display: none;
    }

    ul li a {
        font-size: 15px;
    }

    .container h2 {
        font-size: 28px;
        padding-bottom: 20px;
        text-align: center;
    }

    .container p {
        color: rgb(160, 160, 160);
        text-align: justify;
        margin-bottom: 20px;
    }

    ul {
        gap: 45px;
        padding-bottom: 50px;
    }

    ul li a {
        font-size: 18px;
    }

    li {
        padding-left: 20px;
        padding-top: 20px;
    }

    .menu img {
        width: 35px;
    }

    .menu span {
        font-size: 45px;
    }

    .card-title {
        font-size: 18px;
        padding: 7px 0px;
        text-align: center;
    }

    .waterPark {
        font-size: 30px;
        padding: 17px 0px;
        text-align: center;
        color: #0f7c8c;
        font-family: "Permanent Marker", cursive;
        font-style: normal;
        font-weight: 800;
    }

    .carouselExampleIndicators {
        width: 100%;
    }

    #Buttons {
        margin-bottom: 30px;
    }

    .Water_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(150, 150, 150);
        padding: 30px 30px 5px 30px;
        border-radius: 20px;
        height: auto;
    }

    #Inner img {
        width: 55px;
    }

    #Inner2 img {
        width: 55px;
    }

    header {
        height: 90px;
        padding: 25px 25px;
    }

    #img {
        width: 150px;
    }

    .btn {
        padding: 12px 20px;
        font-weight: bold;
        font-size: 15px;
    }

    #BookWater {
        position: relative;
        bottom: 60px;
        left: 49.995%;
        font-size: 23px;
    }
    #hours2 p {
        font-size: 15px;
        text-align: center;
        padding-top: 16px;
    }

}





@media (min-width: 992px) {
    #secondDiv ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .animated {
        position: absolute;
        top: 43%;
        left: 28%;
        font-size: 50px;
    }

    #img {
        width: 160px;
    }

    ul {
        gap: 5px;
    }

    ul li {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    ul li a {
        font-size: 15px;
    }

    .btn {
        padding: 12px 20px;
        font-weight: bold;
        font-size: 15px;
    }


    .menu img {
        width: 40px;
    }

    .menu {
        padding-right: 20px;
        padding-top: 20px;
    }

    #BookWater {
        position: relative;
        bottom: 67px;
        left: 49.995%;
        transform: translateX(-50%);
        z-index: 1;
        font-size: 30px;
    }


    #Inner img {
        width: 60px;
    }

    #Inner2 img {
        width: 60px;
    }

    #hours span {
        font-size: 17px;
    }

    #Inner h3,
    #Inner2 h3 {
        font-size: 18px;
    }

    #hours2 p {
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
    }

}



@media (min-width: 1200px) {

    section {
        padding-top: 80px;
    }

    #img {
        width: 160px;
        background: transparent;
        border: none;
    }


    ul li {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    ul li a {
        font-size: 18px;
    }

    .btn {
        background-color: #0496c7;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 17px;
    }

    .menu img {
        width: 45px;
    }

    .menu {
        padding-right: 20px;
        padding-top: 20px;
    }

    #BookWater {
        position: relative;
        bottom: 67px;
        left: 49.995%;
        transform: translateX(-50%);
        z-index: 1;
        font-size: 30px;
    }


    #Inner img {
        width: 70px;
    }

    #Inner2 img {
        width: 70px;
    }

    #hours span {
        font-size: 20px;
    }

    #Inner h3,
    #Inner2 h3 {
        font-size: 18px;
    }

    #hours2 p {
        font-size: 20px;
        text-align: center;
        padding: 20px;
    }

    #hours {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #hours2 {
        width: 100%;
        border: 0.2px solid #93e2ee;
        border-radius: 20px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05),
            0 0 10px rgba(0, 0, 0, 0.05),
            0 0 10px rgba(0, 0, 0, 0.05),
            0 0 10px rgba(0, 0, 0, 0.05);
    }

    #hours {
        width: 100%;
        border: none;
        border-radius: 20px;
        padding: 20px;
        background-color: transparent;
        box-shadow: none;
    }

    #Inner {
        border-right: 0.5px solid rgb(219, 218, 218);
        border-bottom: none;
        padding: 30px 70px;

    }

    #Inner2 {
        padding-left: 50px;
        padding-right: 40px;
    }

    header {
        background-color: white;
        border-bottom-right-radius: 20px;
        height: 130px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        padding: 27px 40px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        
    }
 
    ul {
        position: static;
        width: auto;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }

  ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;
    }  

    .None {
        display: block;
    }

    #openMenu {
        display: none;
    }
    #Tick {
        position: static;
        padding-top: 5px;
    }
    .animated {
        position: absolute;
        top: 38%;
        left: 20%;
        animation: textAnimation 1s ease forwards;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 75px;
    }
    .Water_details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(150, 150, 150);
        padding: 30px 30px 5px 30px;
        border-radius: 20px;
        height: auto;
        gap: 50px;
    }
    .detaisl{
        width: 50%;
    }

    
    #BookWater {
        position: relative;
        bottom: 67px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        font-size: 20px;
    }

    #contactForm{
        margin-top: 130px;
    }
    
    .card {
        background: transparent;
        scroll-snap-align: start;
        width: 15rem;
        margin-right: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 13px;
        padding: 5px;
    }
    
    .card-body .btn {
        background-color: #0f7c8c;
        border: none;
        font-size: 14px;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .card-title {
        font-size: 16px;
        padding: 7px 0px;
        text-align: center;
        color: #0f7c8c;
        font-family: "Permanent Marker", cursive;
        font-style: normal;
        font-weight: 800;
    }
}


@media (min-width: 1400px) {
    .animated {
        position: absolute;
        top: 32%;
        left: 20%;
        animation: textAnimation 1s ease forwards;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 108px;
    }
    header {
        background-color: white;
        border-bottom-right-radius: 20px;
        height: 142px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        padding: 27px 40px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        
    }
}

/* Additional css for pricing section from bootstrap */
